.imgDiv {
  width: 100%;
  height: 450px;
  background-image: url("./img/ComputerProgrammer.jpeg");
  background-size: cover;
}

.myTitle {
  width: 100%;
  color: rgba(0, 0, 0, 1);
  position: static;
  top: 0px;
  left: 0px;
  font-family: sans-serif;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: center;
  padding-top: 100px;
}

.myLine {
  width: 40%;
  margin: 30px auto auto auto;
  padding: 1px;
  background-color: white;
  opacity: 1;
}

.myImageContainer {
  width: 150px;
  height: 150px;
  margin: auto;
}

.myImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.myBodyContainer {
  max-width: 700px;
  margin: auto;
}

.myTitles {
  margin-top: 50px;
  color: blueviolet;
  text-align: center;
}

p,
li {
  font-size: large;
  text-align: justify;
}

.myFooter {
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #212529;
  height: 59px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.myMemberships {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
}

.myMembership {
  border: none;
  border-radius: 12px;
  padding: 30px 30px 10px 30px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
  max-width: 300px;
  min-width: 300px;
  height: 464px;
}

.myButton {
  background-color: rgb(40, 40, 255); /* Green */
  border: none;
  border-radius: 12px;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

@media (max-width: 950px) {
  .myMemberships {
    flex-direction: column;
  }

  .myFooter {
    margin-top: auto;
    position: relative;
    bottom: 0;
    width: 100%;
  }
}
