.myFooter {
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #212529;
  height: 59px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
