body {
  width: 100%;
  margin: auto;
}

#formulario {
  padding: 50px;
}

#adjuntarImagen {
  height: 200px;
}

#imagenAdjunta {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.avatar-pic {
  width: 150px;
}

.form-control {
  background-color: #c4c4c4;
}

.submitButton {
  float: right;
}

.myFooter {
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #212529;
  height: 59px;
  position: relative;
  bottom: 0;
  width: 100%;
}

@media (max-width: 950px) {
  .myFooter {
    margin-top: auto;
    position: relative;
    bottom: 0;
    width: 100%;
  }
}
