.imgDiv {
  width: 100%;
  height: 450px;
  background-image: url("./img/ComputerProgrammer.jpeg");
  background-size: cover;
}

.myTitle {
  padding-top: 100px;
  color: white;
  text-align: center;
}

.myLine {
  width: 40%;
  margin: 30px auto auto auto;
  padding: 1px;
  background-color: white;
  opacity: 1;
}

.myImageContainer {
  width: 150px;
  height: 150px;
  margin: auto;
}

.myImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.myBodyContainer {
  max-width: 700px;
  margin: auto;
}

.myTitles {
  margin-top: 50px;
  color: blueviolet;
  text-align: center;
}

p,
li {
  font-size: large;
  text-align: justify;
}

.myFooter {
  color: white;
  background-color: #212529;
  height: 59px;
  border: 1px solid red;
  text-align: center;
}
